<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp5216.sydney.edu.au.lextra">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lextra_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lextra_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Bookmark.MessageActivity"></activity>
        <activity
            android:name=".BuildDetails.BuildingDetail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".BuildDetails.UosDetail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Login.WelcomActivity" />
        <activity android:name=".Login.Sign_upActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Map.MapActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Filter.FilterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Sidebar.SideBarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Bookmark.BookMarkActivity" />
        <activity android:name=".UserSetting.UserSettingActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDVIFAKk7ysMCikBS6yKXhaSadZ-qBQ1o" />
    </application>

</manifest>